<!DOCTYPE html>
<html lang="en" ng-app="axonBank">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="favicon.ico">

    <title>Taxi Driver</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootswatch-cosmo/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/app/app.css"/>
</head>

<body ng-controller="BankAccountsCtrl" >
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <b class="navbar-brand">Taxi Driver</b>
            <div ng-if="currentDriver.fullName != undefined" class="pull-right">
                <span class="navbar-brand"> Driver name: {{currentDriver.fullName}}</span>
                <span class="navbar-brand"> Status: {{currentDriver.driverStatus}}</span>
                <span class="navbar-brand">
                    <button ng-show="currentDriver.driverStatus == 'ON_VACATION'" ng-click="goToWork()" class="btn btn-sm btn-success" type="submit">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Start working
                    </button>
                    <button ng-show="currentDriver.driverStatus == 'EMPTY'" ng-click="goToWork()" class="btn btn-sm btn-success" type="submit">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Take a rest
                    </button>

                </span>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-lg-12">
        <table class="table table-hover table-condensed table-striped">
            <caption>
                Orders
                <div class="pull-right">
                    <button ng-click="selectDriver()" class="btn btn-sm btn-success" type="submit">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Select Driver
                    </button>
                    <!--<div class="form-group">-->
                    <!--&lt;!&ndash;<label for="currentDrv">Select Driver</label>&ndash;&gt;-->
                    <!--<select ng-model="selectedDriver" class="form-control" name="currentDriver" id="currentDrv">-->
                    <!--<option ng-repeat="driver in driverList" value="{{driver}}">-->
                    <!--{{driver.fullName}}-->
                    <!--</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </div>
            </caption>
            <thead>
            <tr>
                <th>Address</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="currentDriver.driverStatus == 'EMPTY'" ng-repeat="order in orderList">
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.status}}</td>
                <td>
                    <button ng-click="pickupOrder(order)" class="btn btn-sm btn-primary" type="submit">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Take
                    </button>
                    <!--<button ng-click="transfer(bankAccount.axonBankAccountId)" class="btn btn-sm btn-info" type="submit">-->
                        <!--<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>-->
                        <!--Transfer-->
                    <!--</button>-->
                    <!--<button ng-click="bankTransfers(bankAccount.axonBankAccountId)" class="btn btn-sm btn-warning" type="submit">-->
                        <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                        <!--Bank Transfers-->
                    <!--</button>-->
                </td>
            </tr>
            <tr ng-if="currentDriver.driverStatus == 'OCCUPIED'">
                <td>{{currentOrder.address}}</td>
                <td>{{currentOrder.phone}}</td>
                <td>{{currentOrder.status}}</td>
                <td>
                    <button ng-click="finishOrder(order)" class="btn btn-sm btn-primary" type="submit">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Finish
                    </button>
            </tr>
            <tr ng-if="bankAccounts.length == 0">
                <td colspan="4">There are no bank accounts</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/webjars/sockjs-client/1.1.4/dist/sockjs.min.js"></script>
<script type="text/javascript" src="/webjars/stomp-websocket/lib/stomp.min.js"></script>
<script type="text/javascript" src="/webjars/ng-stomp/dist/ng-stomp.min.js"></script>

<script type="text/javascript" src="/app/app.js"></script>
<script type="text/javascript" src="/app/services.js"></script>
<script type="text/javascript" src="/app/controllers.js"></script>

<!--<script src="https://code.jquery.com/jquery-1.10.2.js"></script>-->


</body>
</html>
